$tf
ConsoleTestApplication/
ConsoleApplication2/
FrodControls/
FrodLib.Controls.WPF/
RTLogViewer/
WPFControllerTest/
FrodUtils.sln
packages
FrodLib.Core/bin/
FrodLib.Core/obj/
FrodLib.NET/bin/
FrodLib.NET/obj/
TestProject/bin/
TestProject/obj/
Create FrodLib.Controls.WPF Nuget.bat
Create FrodLib.core Nuget.bat
Create FrodLib.NET Nuget.bat
Create RTLogViewer Nuget.bat